.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}